data/Replica/office0/*
data/Replica/office1/*
data/Replica/office2/*
data/Replica/office3/*
data/Replica/office4/*
data/Replica/room0/*
data/Replica/room1/*
data/Replica/room2/*
data/Replica/office0_mesh.ply
data/Replica/office1_mesh.ply
data/Replica/office2_mesh.ply
data/Replica/office3_mesh.ply
data/Replica/office4_mesh.ply
data/Replica/room1_mesh.ply
data/Replica/room2_mesh.ply
data/TUM_RGBD/*
data/Replica.zip
data/my_bike/*
datasets/gradslam_datasets/__pycache__/__init__.cpython-38.pyc
datasets/gradslam_datasets/__pycache__/__init__.cpython-310.pyc
datasets/gradslam_datasets/__pycache__/ai2thor.cpython-310.pyc
datasets/gradslam_datasets/__pycache__/azure.cpython-38.pyc
datasets/gradslam_datasets/__pycache__/azure.cpython-310.pyc
datasets/gradslam_datasets/__pycache__/basedataset.cpython-310.pyc
datasets/gradslam_datasets/__pycache__/dataconfig.cpython-310.pyc
datasets/gradslam_datasets/__pycache__/datautils.cpython-310.pyc
datasets/gradslam_datasets/__pycache__/geometryutils.cpython-310.pyc
datasets/gradslam_datasets/__pycache__/icl.cpython-310.pyc
datasets/gradslam_datasets/__pycache__/nerfcapture.cpython-310.pyc
datasets/gradslam_datasets/__pycache__/realsense.cpython-310.pyc
datasets/gradslam_datasets/__pycache__/record3d.cpython-310.pyc
datasets/gradslam_datasets/__pycache__/replica.cpython-310.pyc
datasets/gradslam_datasets/__pycache__/scannet.cpython-310.pyc
datasets/gradslam_datasets/__pycache__/scannetpp.cpython-310.pyc
datasets/gradslam_datasets/__pycache__/tum.cpython-310.pyc
wandb/debug-cli.erge.log
wandb/debug-internal.log
wandb/debug.log
wandb/latest-run
wandb/offline-run-20241206_002658-z6wj5rdi/run-z6wj5rdi.wandb
wandb/offline-run-20241206_002658-z6wj5rdi/run-z6wj5rdi.wandb.synced
wandb/offline-run-20241206_002658-z6wj5rdi/files/config.yaml
wandb/offline-run-20241206_002658-z6wj5rdi/files/output.log
wandb/offline-run-20241206_002658-z6wj5rdi/files/requirements.txt
wandb/offline-run-20241206_002658-z6wj5rdi/files/wandb-metadata.json
wandb/offline-run-20241206_002658-z6wj5rdi/files/wandb-summary.json
wandb/offline-run-20241206_002658-z6wj5rdi/files/media/images/Eval/Qual Viz_3182_2505961b24d8f83e625b.png
wandb/offline-run-20241206_002658-z6wj5rdi/files/media/images/Eval/Qual Viz_3183_e472babc69cf8928b5d9.png
wandb/offline-run-20241206_002658-z6wj5rdi/files/media/images/Eval/Qual Viz_3184_8cafa5d8c7317a057d26.png
wandb/offline-run-20241206_002658-z6wj5rdi/files/media/images/Eval/Qual Viz_3185_739fb097331f26cad947.png
wandb/offline-run-20241206_002658-z6wj5rdi/files/media/images/Eval/Qual Viz_3186_3d96cf7b6b7885a4ddd3.png
wandb/offline-run-20241206_002658-z6wj5rdi/files/media/plotly/Eval/Metrics_3189_f27af667e56bc05a4e83.plotly.json
wandb/offline-run-20241206_002658-z6wj5rdi/logs/debug-core.log
wandb/offline-run-20241206_002658-z6wj5rdi/logs/debug-internal.log
wandb/offline-run-20241206_002658-z6wj5rdi/logs/debug.log
wandb/offline-run-20241206_004918-aj8sfp6v/run-aj8sfp6v.wandb
wandb/offline-run-20241206_004918-aj8sfp6v/files/output.log
wandb/offline-run-20241206_004918-aj8sfp6v/files/requirements.txt
wandb/offline-run-20241206_004918-aj8sfp6v/files/wandb-metadata.json
wandb/offline-run-20241206_004918-aj8sfp6v/logs/debug-core.log
wandb/offline-run-20241206_004918-aj8sfp6v/logs/debug-internal.log
wandb/offline-run-20241206_004918-aj8sfp6v/logs/debug.log
wandb/run-20241205_232333-ra24a641/run-ra24a641.wandb
wandb/run-20241205_232333-ra24a641/files/output.log
wandb/run-20241205_232333-ra24a641/logs/debug-core.log
wandb/run-20241205_232333-ra24a641/logs/debug-internal.log
wandb/run-20241205_232333-ra24a641/logs/debug.log
wandb/run-20241205_232552-pjate2vy/run-pjate2vy.wandb
wandb/run-20241205_232552-pjate2vy/files/output.log
wandb/run-20241205_232552-pjate2vy/logs/debug-core.log
wandb/run-20241205_232552-pjate2vy/logs/debug-internal.log
wandb/run-20241205_232552-pjate2vy/logs/debug.log
wandb/run-20241206_001728-a7ir08v0/run-a7ir08v0.wandb
wandb/run-20241206_001728-a7ir08v0/files/output.log
wandb/run-20241206_001728-a7ir08v0/logs/debug-core.log
wandb/run-20241206_001728-a7ir08v0/logs/debug-internal.log
wandb/run-20241206_001728-a7ir08v0/logs/debug.log
wandb/run-20241206_002006-6a3jeph9/run-6a3jeph9.wandb
wandb/run-20241206_002006-6a3jeph9/files/output.log
wandb/run-20241206_002006-6a3jeph9/logs/debug-core.log
wandb/run-20241206_002006-6a3jeph9/logs/debug-internal.log
wandb/run-20241206_002006-6a3jeph9/logs/debug.log
wandb/run-20241206_002332-d0g3jqaw/run-d0g3jqaw.wandb
wandb/run-20241206_002332-d0g3jqaw/files/output.log
wandb/run-20241206_002332-d0g3jqaw/logs/debug-core.log
wandb/run-20241206_002332-d0g3jqaw/logs/debug-internal.log
wandb/run-20241206_002332-d0g3jqaw/logs/debug.log
wandb/run-20241206_004937-ueqdw44g/run-ueqdw44g.wandb
wandb/run-20241206_004937-ueqdw44g/files/output.log
wandb/run-20241206_004937-ueqdw44g/files/requirements.txt
wandb/run-20241206_004937-ueqdw44g/files/wandb-metadata.json
wandb/run-20241206_004937-ueqdw44g/logs/debug-core.log
wandb/run-20241206_004937-ueqdw44g/logs/debug-internal.log
wandb/run-20241206_004937-ueqdw44g/logs/debug.log
wandb/debug-internal.log
wandb/debug.log
wandb/latest-run
configs/replica/splatam.py
configs/replica/__pycache__/splatam.cpython-310.pyc
experiments/Replica/room0_0/config.py
experiments/Replica/room0_test_0/config.py
experiments/Replica/room0_test_0/params.npz
experiments/Replica/room0_test_0/eval/l1.txt
experiments/Replica/room0_test_0/eval/lpips.txt
experiments/Replica/room0_test_0/eval/metrics.png
experiments/Replica/room0_test_0/eval/psnr.txt
experiments/Replica/room0_test_0/eval/rmse.txt
experiments/Replica/room0_test_0/eval/ssim.txt
experiments/Replica/room0_test_0/eval/plots/0000.png
experiments/Replica/room0_test_0/eval/plots/0004.png
experiments/Replica/room0_test_0/eval/plots/0009.png
experiments/Replica/room0_test_0/eval/plots/0014.png
experiments/Replica/room0_test_0/eval/plots/0019.png
wandb/debug-internal.log
wandb/debug.log
wandb/latest-run
wandb/run-20241206_004937-ueqdw44g/files/config.yaml
wandb/run-20241206_004937-ueqdw44g/files/wandb-summary.json
wandb/run-20241206_004937-ueqdw44g/files/media/images/Eval/Qual Viz_3182_e867b6c4b7ad2564c72e.png
wandb/run-20241206_004937-ueqdw44g/files/media/images/Eval/Qual Viz_3183_c9340fe79d9c5c7d8090.png
wandb/run-20241206_004937-ueqdw44g/files/media/images/Eval/Qual Viz_3184_ad5de5783324d393cf48.png
wandb/run-20241206_004937-ueqdw44g/files/media/images/Eval/Qual Viz_3185_66d1e46abc69d41de1cc.png
wandb/run-20241206_004937-ueqdw44g/files/media/images/Eval/Qual Viz_3186_cf60b2cec00444140596.png
wandb/run-20241206_004937-ueqdw44g/files/media/plotly/Eval/Metrics_3189_b238ed73ee2e8fa6a744.plotly.json
wandb/debug-internal.log
wandb/debug.log
wandb/latest-run
configs/iphone/splatam.py
configs/iphone/__pycache__/splatam.cpython-310.pyc
configs/replica/splatam.py
configs/replica/__pycache__/splatam.cpython-310.pyc
configs/iphone/splatam.py
configs/replica/splatam.py
configs/replica/__pycache__/splatam.cpython-310.pyc
diff-gaussian-rasterization-w-depth/build/*